---
layout: default
title: Home
permalink: /
---

<link rel="stylesheet" href="/_styles/home.css"/>
<link rel="stylesheet" href="/_styles/project-listing.css"/>

<section class="intro">
    <div class="section-title"> Hello! I'm <strong>Marcus Christiansen</strong> </div>
    <p>
        I am the Co-founder and Lead Developer @ <a href="https://www.considdr.com" target="_blank">Considdr</a>.
    </p>
</section>

<section class="projects">
    <div class="section-title"> Check out my <strong><a href="/projects">projects</a></strong> </div>

    <div class="section-content">
        <ul class="project-listings">
            {% for project in site.projects reversed limit: 3 %}
                {% include project-listing.html %}
            {% endfor %}
        </ul>
    </div>

    <a href="/projects" class="see-more icon-forward">
        See More

        <i class="fas fa-arrow-right hvr-icon"></i>
    </a>
</section>

<section class="contact">
    <div class="section-title"> Get in <strong>touch</strong> </div>

    Say hi at: <a href="mailto:mefchristiansen@gmail.com">mefchristiansen@gmail.com</a>
</section>