---
layout: default
title: Home
permalink: /
---

<link rel="stylesheet" href="/_styles/project-listing.css"/>


<section class="intro">

</section>

<section class="projects">
    <div class="section-title">My Projects</div>

    <div class="section-content">
        <ul class="project-listings">
            {% for project in site.projects reversed limit: 3 %}
                {% include project-listing.html %}
            {% endfor %}
        </ul>
    </div>

    <a href="/projects" class="see-more icon-forward">
        See More

        <i class="fas fa-arrow-right hvr-icon"></i>
    </a>
</section>