---
layout: default
title: Home
permalink: /
---

<link rel="stylesheet" href="/_styles/home.css"/>

<section class="intro">
    <h2> Hello! I'm <strong>Marcus Christiansen</strong> </h2>
    <p>
        I am a Full Stack developer currently working as the Lead Developer at <a href="www.considdr.com">Considdr</a>.
    </p>
</section>

<section class="projects">
    <div class="section-title">My Projects</div>

    <div class="section-content">
        <ul class="project-listings">
            {% for project in site.projects reversed limit: 3 %}
                {% include project-listing.html %}
            {% endfor %}
        </ul>
    </div>

    <a href="/projects" class="see-more icon-forward">
        See More

        <i class="fas fa-arrow-right hvr-icon"></i>
    </a>
</section>

<section class="contact">
    Please get in touch with me at: <a href="mailto:mefchristiansen@gmail.com">mefchristiansen@gmail.com</a>
</section>