---
layout: default
title: Projects
permalink: /projects
---

<link rel="stylesheet" href="/_styles/projects.css"/>
<link rel="stylesheet" href="/_styles/project-listing.css"/>

<section class="projects">
  <h1 class="title">My Projects</h1>

  {% assign postsByYear = site.projects | group_by_exp:"post", "post.date | date: '%Y'" %}
    {% for year in postsByYear %}
      <h2 class="year-listing">{{ year.name }}</h2>

      <ul class="project-listings">
        {% for project in year.items reversed %}
            {% include project-listing.html %}
        {% endfor %}
      </ul>
  {% endfor %}

  
</section>