---
---
  
@import "colors"
@import "helper"
@import "tomorrow_night"

$main-width: 70em
$content-width: 45em
$base-font-family: "Source Sans Pro", sans-serif

html, body
  background-color: white
  height: 100%

body
  color: $font-color
  font-family: $base-font-family
  margin: 0
  padding: 0em 1em

h1
  font-size: 2em

p, ul, ol
  line-height: 1.75em !important

a:link
  color: $link-color

a:visited
  color: $link-color

.highlight
  margin: 1em 0em
  padding: 1em
  border-radius: 0.3em
  font-size: 14px
  overflow-x: auto

.center
  margin: 0 auto

.main
  @extend .center
  width: 100%
  
  .content
    @extend .center
    max-width: $content-width
    width: 100%

    section
      margin-bottom: 2em

      .section-title
          font-size: 1.5em
          font-weight: 100
          margin-bottom: 1em

          a
            text-decoration: none
            color: $font-color

            &:hover
              color: $visited-color