---
---

@import "colors"
@import "helper"
@import "hover/icon-back"
@import "hover/icon-forward"

.back
    @include icon-back
    text-decoration: none
    margin-top: 1em

    i
        margin-right: 10px

.project-info
    margin-top: 2em
    margin-bottom: 1em

    .project-header
        align-items: center
        justify-content: space-between
        display: flex

        h1
            @include scaled-font(2em)
            width: 90%
            display: inline-block
            margin: 0

        .github-link
            float: right
            
            svg
                width: 1.75em
                height: 1.75em
                fill: #c7c6c6
                transition: 0.5s

                &:hover
                    fill: $font-color

    .project-meta
        width: 90%

        .project-date
            @include scaled-font(.75em)
            display: inline-block
            vertical-align: middle

        .divider
            margin: 0em 0.5em
            display: inline-block
            vertical-align: middle

        ul
            padding: 0
            margin: 0
            display: inline
            vertical-align: middle

            li
                @include scaled-font(.75em)
                list-style: none
                display: inline-block

                &:first-child
                    margin-left: 0

                &:after
                    margin: 0.5em
                    content: "•"

                &:last-child:after
                    content: none
    
    .project-summary
        color: $muted-font-color

.project-writeup
    img
        width: 100%