---
---

@import "colors"
@import "hover/icon-forward"

.projects
    .project-listings
        padding-inline-start: 0

        .project-listing
            @include icon-forward

            display: block
            list-style: none

            a
                text-decoration: none