<section class="footer center">
    <div class="social">
        <ul>
            <li>
                <a class="hvr-grow" href="mailto:mefchristiansen@gmail.com">
                    {% include icons/gmail.svg %}
                </a>
            </li>
            <li>
                <a class="hvr-grow" href="https://github.com/MarcusEFC">
                    {% include icons/github.svg %}
                </a>
            </li>
            <li>
                <a class="hvr-grow" href="https://www.linkedin.com/in/mefchristiansen/">
                    {% include icons/linkedin.svg %}
                </a>
            </li>
        </ul>
    </div>

    <div class="copyright">
        ©&nbsp;&nbsp;Marcus Christiansen 2020
    </div>
</section>