<li class="project-listing">
    <div class="project-listing-info">
        <div class="project-listing-header">
            <a href="{{ project.url }}" class="project-title icon-forward">
                <h3> {{project.name}} <i class="fas fa-arrow-right hvr-icon"></i> </h3>
        
                
            </a>
    
            {% if project.github_link %}
                <a href="{{ project.github_link }}" class="github-link" target="_blank">
                    {% include icons/github.svg %}
                </a>
            {% endif %}
        </div>
    
        <div class="project-meta">
            <div class="project-date">
                {{ project.date | date: "%Y-%m" }} 
            </div>
            <div class="divider">
                -
            </div>
            <ul>
                {% for tag in project.tags %}
                    <li>
                        {{tag}}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    
    <p>
        {{project.summary}}
    </p>
</li>