---
---

@import "colors"

$page-width: 45em
$base-font-family: "Source Sans Pro", Helvetica, Arial, sans-serif

html, body
  background-color: white

body
  margin: 0 auto
  width: 95%
  max-width: $page-width
  color: $font-color
  font-family: $base-font-family

h1
  color: $secondary-color

a:link
  color: $link-color

a:visited
  color: $visited-color