<!doctype html>
<html lang="en">
	<head>
		<script src="https://kit.fontawesome.com/e4ac69cc60.js" crossorigin="anonymous"></script>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="{{ '/_styles/main.css' | relative_url }}" />
		<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">

    	<title> {{ page.title }} • mefchristiansen.com </title>
  	</head>
	<body>
		{% include header.html %}

		<section class="main">
			{% include sidebar.html %}

			<section class="content">
				{{ content }}
			</section>
		</section>
		
		{% include footer.html %}
	</body>
</html>