---
layout: default
---

<link rel="stylesheet" href="/_styles/project.css"/>

<a href="/projects" class="back icon-back">
    <i class="fas fa-arrow-left hvr-icon"></i>
    Back to Projects
</a>

<div class="project-info">
    <div class="project-header">
        <h1> {{ page.name }} </h1>

        {% if page.github_link %}
            <a href="{{ page.github_link }}" class="github-link" target="_blank">
                {% include icons/github.svg %}
            </a>
        {% endif %}
    </div>

    <div class="project-meta">
        <div class="project-date">
            {{ page.date | date: "%Y-%m" }} 
        </div>
        <div class="divider">
            —
        </div>
        <ul>
            {% for tag in page.tags %}
                <li>
                    {{tag}}
                </li>
            {% endfor %}
        </ul>
    </div>

    <p class="project-summary">
        {{page.intro}}
    </p>
</div>

<div class="project-writeup">
    {{ content }}
</div>

<div class="">
    Check out the 
    <a href="{{ page.github_link }}">code</a>
    on Github
</div>